<div class="maincontainer">

      <div class="middleofpagecss">

          <mat-card class="cardsize" [class.mat-elevation-z8]="true">

              <mat-card-content>

              <button mat-raised-button color="accent">Learn More</button>

              </mat-card-content>

          </mat-card>
          <mat-toolbar class="toolbarsize">

                  <button mat-fab class="buttonprimarycolor"><mat-icon>pan_tool</mat-icon></button>
                  <button mat-fab class="buttonsecondarycolor"><mat-icon>home</mat-icon></button>
                  <button mat-fab class="buttontertiarycolor" ><mat-icon>menu_book</mat-icon></button>

          </mat-toolbar>

      </div>

      <div>

      </div>


</div>
